h2 {
  margin: 80px auto;
  background-color: #f0e2cc79;
  padding: 40px;
  border-radius: 47px;
  max-width: 800px;
  min-width: 700px;
  margin-bottom: 80px;
  font-size: 50px;
  color: #464545;
}

@media (max-width: 790px) {
  h2 {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    min-width: 90%;
    padding: 30px;
    font-size: 35px;
  }
}
